// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

html,
body,
main {
  margin: 0;
}

body {
  background-color: #fff;
  &.opened-menu {
    overflow: hidden;
  }
  @include r(600) {
    padding-top: 0 !important;
  }
}

.container {
  padding: 0 30px;
  &_big {
    max-width: 1645px;
  }
}



/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

img {
  max-width: 100%;
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.flex {
  display: flex;
  &_h-center {
    align-items: center;
  }
  &_w-center {
    justify-content: center;
  }
  &_all-center{
    align-items: center;
    justify-content: center;
  }
  &_all-sb {
    align-items: center;
    justify-content: space-between;
  }
}

.arrow-bottom {
  display: block;
  margin: 0 auto;
  width: 8px;
  height: 31px;
}

.read-more {
  position: relative;
  display: block;
  margin: 0 auto;
  color: #242D36;
  font-size: 12px;

  text-align: center;
  letter-spacing: 0.15em;
  width: max-content;
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #242D36;
    transition: width 0.5s;
  }
  &:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    background-color: #fe7635;
    transition: width 0.5s;
  }
}

.tabs__content {
  display: none;
  &.is-active {
    display: block;
  }
  &_flex {
    display: none;
    &.is-active {
      display: flex;
    }
  }
}




