<header class="header">
  <div class="container container_big">
    <div class="row">
      <div class="col-12 header__wrapper">
        <button class="btn-reset burger js-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a href="" class="logo header__logo">
          <svg>
            <use xlink:href="assets/img/sprite.svg#logo"></use>
          </svg>
        </a>
<!--        <div class=" languages header__languages">-->
<!--          <ul class="languages__list">-->
<!--            <li class="languages__item"><a href="" class="languages__link is-active">ru</a></li>-->
<!--            <li class="languages__item"><a href="" class="languages__link">en</a></li>-->
<!--            <li class="languages__item"><a href="" class="languages__link">de</a></li>-->
<!--            <li class="languages__item"><a href="" class="languages__link">fr</a></li>-->
<!--          </ul>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</header>
