<div class="hide-menu">
  <div class="container container_big  h-100">
    <div class="row h-100">
      <div class="col-12">
        <div class="hide-menu__heading">
        <a href="/" class="logo hide-menu__logo">
          <svg>
            <use xlink:href="assets/img/sprite.svg#hide-logo"></use>
          </svg>
        </a>
        {{> social}}
        </div>
        <button class="btn-reset close-menu">
          <svg>
            <use xlink:href="assets/img/sprite.svg#close"></use>
          </svg>
        </button>
        <ul class="hide-menu__list">
          <li class="hide-menu__item"><a href="#biography" class="hide-menu__link">Биография</a></li>
          <li class="hide-menu__item"><a href="#interesting" class="hide-menu__link">Интересные факты</a></li>
          <li class="hide-menu__item"><a href="#publication" class="hide-menu__link">Публикации</a></li>
          <li class="hide-menu__item"><a href="#projects" class="hide-menu__link">Проекты Mr-Group</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
