.footer {
  padding: 178px 0;
  background-color: rgba(20,25,29,0.95);
  color: #fff;
  @include r(768) {
    padding: 80px 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    @include r(768) {
      flex-direction: column;
      justify-content: center;
      gap:20px;
    }
  }
  &__copy,
  &__digital {
    font-size: 12px;
  }
  &__logo {
    @include r(768) {
      order: -1;
    }
  }
}
